.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 16px;
  max-width: 60%;
  margin: 1rem auto;
}
.profilecard {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  min-height: 25vh;
  justify-content: space-around;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.profileIcon {
  cursor: pointer;
  display: flex;
  /* align-items: center; */
  justify-content: start;
  margin-top: 30px;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  overflow: hidden;
}
.profileImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  min-height: 15vh;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.empty {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  min-height: 15vh;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.details {
  /* display: flex; */
  align-items: center;
  justify-content: space-evenly;
}
.edetails {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  border-radius: 8px;
}
.ebutton {
  background-color: transparent;
  color: #275df5;
  font-size: 14px;
  font-weight: 600;
  /* padding: 8px 16px; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.edetails h4 {
  font-size: 1.2rem;
  font-weight: bold;
}
.editIcon {
  margin-left: 1rem;
  font-size: 1.1rem;
}
.otherdetails {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 1rem;
}
.onclickcard {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}
.opencard {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.header {
  align-items: center;
  gap: 2rem;
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: #333333;
}

.description {
  font-size: 14px;
  color: #555555;
  margin: 8px 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button {
  background-color: transparent;
  color: #275df5;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  color: #0e4cf8;
}
.no-scroll {
  overflow: hidden !important;
  height: 100% !important;
}
.closeButton {
  font-size: 1.3rem;
  color: black;
  margin-top: 0.3rem;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 50%;
  max-height: 98%; /* Limit modal height to 80% of the viewport */
  overflow: hidden; /* Prevent overflow outside the modal */
  display: flex;
  flex-direction: column;
}

.modalHeader {
  display: flex;
  margin-top: 1rem;
  margin-right: 1rem;
  justify-content: end;
  align-items: center;
  padding: 3px;
}

.modalContent {
  flex: 1; /* Allow the content to take up remaining space */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 20px;

  /* Hide scrollbar */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.modalContent::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.separator {
  margin: 0.2rem 0;
  text-align: center;
  position: relative;
  left: 0;
  width: 30rem; /* 100% of the viewport width */
  height: 2px;
  background-color: #ecebde;
  border: none;
}

.separator2 {
  margin: 0.2rem 0;
  text-align: center;
  position: relative;
  left: 0;
  width: 2px; /* 100% of the viewport width */
  height: 7rem;
  background-color: #ecebde;
  border: none;
}
.separator::after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 1px;
  background: #ecebde;
}

.icon {
  font-size: 1rem;
  color: #808080;
  pointer-events: none;
  margin-right: 0.6rem;
}
